<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <title>Clothes Alita</title>
    <style>
    *{
    font-family: 'Raleway', sans-serif;
    }
    </style>
</head>
<body>
    <div data-role="page" id="home">
        <div data-role="header">
            <div data-role="navbar" data.iconpos="bottom">
                <ul>
                    <li><a href="/products" data-icon="grid" data-transition="slidefade">Products</a></li>
                    <li><a href="/comments" data-icon="comment" data-transition="slidefade">Comentarios</a></li>
                </ul>
            </div>
        </div>
        <div data-role="content">
            <h1 style="text-align: center;
            margin: 40px auto;
            color: #004BA8;">Bienvenido a Clothes Shop</h1>
            <div class="history-container" style="width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            flex-direction: column;">
                <div class="text-container" style="width: 50%;">
                    <h4>Clothes Shop, vende ropa para hombres y mujeres, pero también...Para mascotas.</h4>
                    <h2 style="color: #FEA82F; ">¿Por qué ir a otra tienda a buscar ropa para nuestras mascotas, si podemos encontrar todo en un solo lugar? </h2>
                    <h3>
                        Porque deseamos hacer más fácil para ti la tarea de comprar ropa para TODOS en tu hogar, ponemos a disposición nuestra gama de ropa, que nos hemos encargado de que sea cómoda no solo para ti, también para tus mascotas.
                    </h3>
                    
                </div>
                <div class="img-container" style="width: 50%;
                margin: auto 0;">
                    <img src="https://images.pexels.com/photos/9382440/pexels-photo-9382440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="95%">
                    <h2 style="text-align: center;
                    margin: 24px auto;">¡GRACIAS POR COMPRAR CON NOSOTROS!</h2>
                </div>
            </div>
            
        </div>
        <div data-role="footer">
            <h5>Hecho con una 💻 y con ❤ por Alina Bonilla</h5>
        </div>
    </div>
    
</body>
</html>